.bx-wrapper .bx-viewport {
  border: 0;
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  left: 0;
}
.bx-wrapper img {
  width: 100%;
}
.slider__caption {
  position: absolute;
  left: 10%;
  bottom: 60px;
  max-width: 40%
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  width: auto;
  left: 10%;
  bottom: 20px;
}
